<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


    
    <style type="text/css">
            .group-reply {
              box-sizing: border-box;
              display: flex;
              padding: 0 !important;
            }
        
            textarea{
                 min-height: 34px;
                 overflow-y: hidden;
            }

            .submit-btn{
                 height: 34px;
                 margin-top: auto;
                 background-color: #0BC6DD;
                 color: #FFF;
            }
        
            .navbar-nav > li{
                 padding-left:20px;
                 padding-right:20px;
            }
        
    </style>
</head>

<body style="background-color: #DDDDDD">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="nav-link" href="/"> <img src="https://cdn.worldvectorlogo.com/logos/udacity.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav" style="font-size: 20px;">

                 <li class="nav-item active"><a class="nav-link active" href="/">Disaster Response Pipelines  </a></li>
                <li class="nav-item active"><a class="nav-link active" href="https://www.udacity.com/">Made with Udacity  </a></li>
                <li class="nav-item active"><a class="nav-link active" href="https://github.com/herrfeder/DataScientist/tree/master/Project_02_Disaster_Response_Pipelines">Github Link</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h2 class="text-center">Disaster Response Project</h2>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />
      
      
            <div class="flex-d">
                <form action="/go" method="get" id="formgo">
                    <div style="padding-left: 16em; padding-right: 16em;">
                    <div class="md-form">
                        <div style="border-left:solid 1px LightGrey; border-right:solid 1px LightGrey; padding: 1em;">
                        <textarea style="font-size: 18px;"  id="textareaform" form="formgo" rows="3"  name="query" class="md-textarea form-control" placeholder=" Please Enter Message ..."></textarea>
                        </div>
                        <div style="padding-top: 1em;" />
                            <button type="submit" class="btn btn-outline-success btn-sm btn-block">Classify Message</button>
                       
                    </div>
                    </div>
                </form>
            </div>
        
      <div style="padding-left: 16em; padding-right: 16em;">
        {% block message %}
        {% endblock %}
      </div>
    </div>
</div>
<div style="padding-left: 16em; padding-right: 16em;">
    <div class="container">
    {% block viewdata %}
    {% endblock %}
    {% block result %}
    {% endblock %}
    </div>
</div>
</body>
</html>
