.rc-slider-track {
  background-color: #008080;
}

.rc-slider-rail {
  background-color: #008080;
}

.rc-slider-dot-active {  
  border-color: #00FF00;
}

.rc-slider-handle {
  background-color: #C0C0C0;
  border-color: #C0C0C0;
}

.rc.slider-handle:hover {
  border-color: blue;
}

.rc.slider-handle-active:active {
  border-color: red;
}