{% extends "master.html" %}


{% block message %}
  <div class="text-center"><a style="font-size: 1.5em;" href="/">Go Back To Dataset Overview</a></div>
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
  
{% endblock %}

{% block result %}
    <h2 class="text-center">Result</h2>
        <ul class="list-group">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
