{% extends "master.html" %}

{% block viewdata %}

        <div class="page-header">
            <h2 class="text-center">Overview of Training Dataset</h2>
        </div>

        <p><b>Plotly graph that shows distribution over categories</b></p>

    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}
    </div>
    
   


<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>
<div style="padding-top: 2em;" />
<div style="padding-left: 1em; padding-right: 1em;">
    <p><b>Graph for Nodes with 16 most frequent <span style="color: blue;">Categories</span> and 100 most frequent <span style="color: red;">tokenized words</span> (using PyVis)</b><p>
    <p>- Edges are weighted with the occurence of the word in a category</p>
    <p>- You can scroll and drag and drop the nodes</p>
     <iframe src={{graphname}} width="100%" height="800" frameBorder="0" scrolling="no"/>   
    </div>
{% endblock %}